.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.h-100 {
    height: 100vh;
}

.container {
    position: relative;
}

.container .hero-inner {
    position: absolute !important;
    left: 0;
    right: 0;
}

#loginForm h4 {
    text-align: center !important;
}

#loginForm input[type="checkbox"] {
    font-size: 20px;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 15px;
}

.card-container .card {
    position: relative;
    cursor: pointer;
}

.card-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card-container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card-container .card:hover .face.face1 {
    background: #0D799C;
    transform: translateY(0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.card-container .card:hover .face.face1 .content {
    opacity: 1;
}

.card-container .card .face.face1 .content img {
    max-width: 100px;
}

.card-container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.card-container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card-container .card:hover .face.face2 {
    transform: translateY(0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-container ul {
    list-style-type: square;
}

.card-container ul li {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container .card .face.face2 .content button {
    margin: 15px 0 0;
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
    color: #333;
    padding: 7px 15px;
    border: 1px solid #1ba6d4;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.card-container .card .face.face2 .content button:hover {
    transition: 0.5s;
    border-radius: 10px;
    background: #1ba6d4;
    color: #fff;
}

.basic-card {
    background-image: url('../images/pricing-bg/basic.jpg') !important;
}

.pro-card {
    background-image: url('../images/pricing-bg/enterprise.webp') !important;
}

.enterprise-card {
    background-image: url('../images/pricing-bg/pro.jpg') !important;
}

.basic-card,
.pro-card,
.enterprise-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}